<div id="about">
<h2>About</h2>
<h4>
	Somthing about Amazon:
</h4>
<p>
	Amazon.com, Inc. is an American multinational electronic commerce company with headquarters in Seattle, 
	Washington, United States.<br /> It is the world's largest online retailer.
	 The company also produces consumer electronics—notably the Amazon Kindle e-book 
	 reader and the Kindle Fire tablet computer—and is a major provider of cloud computing services.
</p>
<p>
	Amazon has separate retail websites for the following countries: United States, Canada, United Kingdom,
		France, Germany, Italy, Spain, Japan, and China, with international shipping to certain other countries for some of its products. <br />
	It is also expected to launch its websites in Poland, Brazil, Netherlands and Sweden.
</p>
</div>