<div id="about">
	<h2>Help</h2>
	<p>
		You can register to become our member and can buy products.
		You can view the detail of a product with its title, its information, its price,...<br />
		And then, you can add a product to your cart.<br />
     	Please login before check out.<br />
		
	</p>
	<p>
		When you check out, please enter your real name and your address to recieve products.<br />
		After you logout, your cart will be deleted.
	</p>
	<p>
		Thank you for your visiting. And let's start to buy your favourite products.
	</p>
</div>
