#product_list {
	background: #F0FFFF;
	padding: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#product_list .image {
	width: 60px;
	height: 70px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#product_list .product_info{
	padding-top: 10px;
	padding-bottom: 10px;
}

#product_list .product_info dt {
	font-weight: bold;
	font-size: x-large;
	padding-left: 20px;
	width: 70%;
	vertical-align: top;
}

#product_list .product_info dd {
	margin: 0px;
	padding-left: 20px;
	text-align: justify;
}

#product_list .price {
	padding: 10px;
	vertical-align: center;
}

#product_list .category {
	padding: 10px;
	vertical-align: center;
	width: 100px;
	font-weight: bold;
	text-align: center;
}

#product_list .action_list {
	text-align: right;
	padding-left: 20px;
	padding-right: 20px;
}

#product_list .line_odd {
	background: #F0F8FF;
	padding-top: 10px;
	padding-bottom: 10px;
}

#product_list .line_even {
	background: #FFF8DC;
	padding-top: 10px;
	padding-bottom: 10px;
}



